@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body {
		background-image: url(/pics/mixedwide.jpg);
	}
	#header, #container, #contents, #footer {
	float: none;
	width: 100%;	
	}

	#header {
		width: 100%;
		margin: 0;
		text-align: center;
		background-image: url(/pics/SN.svg);
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	img {
		width: 60%;
	}
	/* Removes image float */
	.right {
		float: none;
		margin: 0;
	}
	#manga {
		margin-top: 1em;
		margin-left: 0;
		float: none;
	}
	.blogCenter {
		margin-left: 0;
	}
	video {
		width: 130%;
		height: 130%;	
		margin: 0;
	}
	#results {
	font-size: .8em;	
	
	}
	/* Navigation menu
	-------------------------*/
	#navigation ul { 
		margin: 0; 
		padding: auto; 
		list-style-type: none; 
		text-align: center; 
		background-color: #000;
		font-family: Verdana, sans-serif; 
		font-weight: bold;
		width: auto;
		font-size: 1em;
		} 
	 
	#navigation ul li {  
		float: center; 

		}
	
	#navigation ul li a { 
		text-decoration: none;
		margin: 1em; 
		padding: 0; 
		background-color: #000; 
		}
	
	#navigation ul li a:hover { 
		color: white; 
		background-color: #046073; 
		}
	
	 /* Selected menu item */
	body#start a#current,
	body#laborationer a#current,
	body#presentation a#current,
	body#kontakt a#current {
		color: #000;
		background-color: #9cb6bc;
	}
	h1 {
		font-size: 150%;	
	}
	h2  {
		font-size: 130%;	
	}
	h3 {
		font-size: 100%;	
	}
	h4 {
		font-size: 110%;	
	}
	#contents {
		text-align: left;	
		float: left;
		width: auto;
		margin: 0;
	}
	.rightColumn {
		margin-top: 0;
		position: relative;
		width: 90%;
		float: left;
		border: none;
	}
	.presentLeft {
		float: left;
		width: 90%;
		padding: .5em;
	}
	.presentRight {
		float: right;
		width: 90%;
		padding: .5em;
		margin-top: 0;
		border: none;		
	}

	.labRight {
		position: relative;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		float: left;
		padding-left: 0;
		border: none;
		}
	#footer {
		display: none;
	}
	#container {
		width: 100%;
		margin: 0;	
	}
	#contact-form {
		width: 120%;
	}

	
}