body {
	background-color: white;
	font-size: 12px;
}
#navigation, #header, video {
	display: none;
}
#container, #contents {
	width: auto; 
	border: 0; 
	margin: 0 5%;
	margin-left: -150px; 
	padding: 0; 
	float: none;
	

}
div {
	border-style: none;
}

// Show the links in the 
a:link, a:visited {
	color:#333; 
	text-decoration:none;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
	content: " (" attr(href) ") ";
}
a[href^="http://"] {
	color: blue;
} 
