/* Colors
-------------------
Menu 407cc3
Menu font 83004F
Menu hover 26b8d7
Menu selected item 046073
blogEntry edcdea
h1 79005E, h2 799E00
h3, h4 96B62E

-----------------*/

body {
	background-image: url("pics/mixedwide.jpg")
}
/* Container div
-------------------------*/
#container {

	width: 60em;
	height: 190em;	
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-radius: 1.4em;
	background-color: white;
	position: relative;
	z-index: 100;

}
/* Header div
--------------------------*/
#header {
	height: 10em;
	width: 100%;
	
	background-image: url("pics/vectorup.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	border-radius: 1em;

}
.rightLogo {
	height: 10em;
	width: auto;
	background-image: url("pics/SN.png");
	background-position: 2% 40%;
	background-repeat: no-repeat;
}

/* Content div
--------------------------*/
#content {
	float: left;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	font-family: Georgia, serif;
	font-size: 1em;
	padding: 2em;
	z-index: 150;
}
.rightColumn {
	position: relative;
	margin-top: 15%;
	width: 18%;
	float: right;
	padding: 1.5em;
	border-left: 1px solid gray;
}

.presentLeft {
	float: left;
	width: 45%;
	padding: 1.5em;
}
.presentRight {
	float: right;
	width: 40%;
	border-left: 1px solid gray;
	padding: 1.5em;
	margin-top: 13%;
	
}
.labLeft {
	float: left;
	width: auto;
	margin-left: 2em;
	padding-left: 1em;
}
.labRight {
	position: relative;
	margin-top: 0;
	margin-left: 3em;
	width: auto;
	float: right;
	padding-left: 3em;
	border-left: 1px solid gray;
}
/* Footer div
-------------------------*/
#footer {
	position: relative;
	margin-top: 270.7%;
	height: 18em;
	background-image: url("pics/vector3.png");
	background-repeat: no-repeat;

	background-position: 660px 0px;
	border-radius: 0 0 15px 0;
	z-index: 250;
}

/* Navigation menu
-------------------------*/
#navigation ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000;
	font-family: Verdana, sans-serif; 
	font-weight: bold;

	} 
 
#navigation ul li {  
	display: inline; 
	}

#navigation ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	}

#navigation ul li a:hover { 
	color: white; 
	background-color: #046073; 
	}

 /* Selected menu item */
body#start a#current,
body#laborationer a#current,
body#presentation a#current,
body#kontakt a#current {
	color: #000;
	background-color: #9cb6bc;
}




/* Headings
--------------------------*/
h1 {
	text-align: center;
	font-family: Verdana, sans-serif;
	color: #79005E;
}
h2 {
	font-family: Garamond, serif;
	color: #799E00;
}
h3 {
	color: #96B62E;

}
h4 {
	font-family: Garamond, serif;
	color: #96B62E;
	font-size: 1.5em;
}
/* Logo on index page
---------------------------*/
#logo {
	position: absolute;
	height: 9em;
	margin-left: 50em;
	margin-top: 1em;
}

/* Blog
---------------------------*/
.blogCenter {
	margin-left: 30%;
	background-color: white;
	border:2px solid black;

}
.blogVideo { 
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: auto;
}
.blogEntry {
	background-color: #edcdea;
	border: 2px dashed gray;
	padding: 2em;
	margin-top: 2em;
	
	/* Add shadow */
	-moz-box-shadow: 5px 5px 5px #2E2E2E;
	-webkit-box-shadow: 5px 5px 5px #2E2E2E;
	box-shadow: 5px 5px 5px #2E2E2E;
}
/* Right-side image */
.right {
	position: relative;
	float: right;
	margin: .75em;
	border: 2px solid black;
}

/* Thanks message
--------------------------*/
#thanks {
	text-align: center;
	font-family: Georgia, serif;
}
/* Text formatting
--------------------------*/
p:first-letter {
	font-size: 1.3em;
}
fieldset p:first-letter {
	font-size: 1em;
}
/* Table
-------------------------*/


table, th, td {
    border: 1px solid #8B2374;
    font-family: Verdana, sans-serif;
    background: #eee;
    text-align: center; 
 }  
#results {
	float: left;
	position: relative;
}   

/* Contact form
--------------------------*/
#contact-form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
	background: #eee;
	padding: 0.5em; 
	-moz-box-shadow: 5px 5px 5px #2E2E2E;
	-webkit-box-shadow: 5px 5px 5px #2E2E2E;
	box-shadow: 5px 5px 5px #2E2E2E;
}
textarea {
	margin-right: 1em;
	width: 90%;
	height: 5em;
}
fieldset {
	width: auto;
}

/* Manga girl in blog
---------------------------*/
#manga {
	display: block;
	width: 8.0625em;
	height: 12.5em;
	background: url('pics/LuckyStar.png') bottom;
	background-repeat: no-repeat;
	float: right;
	margin-top: -2em;
	margin-left: 2em;

}
#manga:hover {
	background-position: 0 0;
}

